<%- include('partials/headerlinks.ejs')%>
<%- include('partials/header.ejs')%>
    <!-- CONTENT START -->
    <div class="page-content" style="transform: none;">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(../../app_assets/images/banner/1.jpg);">
            <div class="overlay-main site-bg-white opacity-01"></div>
            <div class="container">
                <div class="wt-bnr-inr-entry">
                    <div class="banner-title-outer">
                        <div class="banner-title-name">
                            <h2 class="wt-title">Employer Profile</h2>
                        </div>
                    </div>
                    <!-- BREADCRUMB ROW -->

                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li>Employer Profile</li>
                        </ul>
                    </div>

                    <!-- BREADCRUMB ROW END -->
                </div>
            </div>
        </div>
        <!-- INNER PAGE BANNER END -->

        <!-- Employer Detail START -->
        <div class="section-full  p-t120 p-b90 bg-white" style="transform: none;">
            <div class="container" style="transform: none;">
                <div class="section-content" style="transform: none;">
                    <div class="row d-flex justify-content-center" style="transform: none;">

                        <div class="col-lg-8 col-md-12">
                            <!-- Candidate detail START -->
                            <div class="cabdidate-de-info">
                                <div class="twm-employer-self-wrap">
                                    <div class="twm-employer-self-info">
                                        <div class="twm-employer-self-top">
                                            <div class="twm-media-bg">
                                                <img style="height: 300px; width: 100%;" src="/db_assets/p-images/<%=employer.profile_photo%>" alt="#">
                                            </div>

                                            <div class="twm-mid-content">
                                                <h4 class="twm-job-title"><%=employer.fname%> <%=employer.lname%></h4>
                                                <p class="twm-employer-address"><i class="feather-map-pin"></i><%=employer.full_address%></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <h4 class="twm-s-title">About Self</h4>

                                <p><%=employer.introduction%> </p>
                                <!-- @php $jobs = \App\Helpers\AppHelper::instance()->getSingleEmpJobs($employer->id); @endphp -->
                                <%if(job && title){%>
                                    <h4 class="twm-s-title">Available Jobs</h4>
                                    <div class="twm-jobs-list-wrap">
                                        <ul>
                                            <!-- <% let u_index=0 %> -->
                                            <%for(let i=0;i< job.length;i++){%>
                                            
                                                <!-- $jtype = App\Helpers\AppHelper::instance()->getJobType($job->job_type);
                                                $text = $jtype[1];
                                                $color = $jtype[0];
                                                $comp = App\Helpers\AppHelper::instance()->getCompanyInfo($job->comp_id);
                                             @endphp -->
                                                <li>
                                                <div class="twm-jobs-list-style1 mb-5">
                                                    <div class="twm-media">
                                                        <img style="border-radius: 10%;" src="/db_assets/p-images/<%=job[i].job_image%>" alt="Company Logo">
                                                    </div>
                                                    <div class="twm-mid-content">
                                                        <a href="/job-detail?id=<%=job[i]._id%>"  class="twm-job-title">
                                                            <h4><%=job[i].job_title,30%><span class="twm-job-post-duration">
                                                                    <!-- {{ App\Helpers\AppHelper::instance()->getDaysAgo($job->created_at) }} Days Ago -->
                                                                </span></h4>
                                                        </a>
                                                        <p class="twm-job-address"><%=job[i].full_address,40%></p>
                                                    </div>
                                                    <div class="twm-right-content">
                                                        <div class="twm-jobs-category green"><span class="twm-bg-{{ $color }}"><%=job[i].job_type%></span></div>
                                                        <div class="twm-jobs-amount"><%=job[i].req_experience%> <span>/Experience</span></div>
                                                        <a href="/job-detail?id=<%=job[i]._id%>" class="twm-jobs-browse site-text-primary">Browse Job</a>
                                                       
                                                    </div>
                                                </div>
                                            </li>
                                        
                                           
                                            <%}%>
                                        </ul>
                                    </div>
                                <%}else{%>
                                    <h4 class="twm-s-title"style='color:red'>No Available Jobs</h4>
                                <%}%>    
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12 rightSidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;"><div class="side-bar-2">
                                    <div class="twm-s-info-wrap mb-5">
                                        <h4 class="section-head-small mb-4">Profile Info</h4>
                                        <div class="twm-s-info">
                                            <ul>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-venus-mars"></i>
                                                        <span class="twm-title">Gender</span>
                                                        <div class="twm-s-info-discription"><%=employer.gender%></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-mobile-alt"></i>
                                                        <span class="twm-title">Phone</span>
                                                        <div class="twm-s-info-discription">+ <%=employer.phone%></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-at"></i>
                                                        <span class="twm-title">Email</span>
                                                        <div class="twm-s-info-discription"><%=employer.email%></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-book-reader"></i>
                                                        <span class="twm-title">Qualification</span>
                                                        <div class="twm-s-info-discription"><%=employer.qualification%></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">

                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span class="twm-title">Address</span>
                                                        <div class="twm-s-info-discription"><%=employer.full_address%></div>
                                                    </div>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- Employer Detail END -->


    </div>

    <%- include('partials/footer.ejs')%>
    <%- include('partials/footer_script.ejs')%>
